body {
  padding: 20px;
  font: 14px Helvetica, Arial, sans-serif;
}

ul {
  margin: 10px auto;
}

li {
  list-style-type: none;
}

form {
  width: 200px;
}

input {
  display: block;
}

button {
  margin: 5px auto;
}